[submodule "themes/ksucs-hugo-theme"]
	path = themes/ksucs-hugo-theme
	url = https://github.com/russfeld/ksucs-hugo-theme.git
[submodule "themes/plausible-hugo"]
	path = themes/plausible-hugo
	url = https://github.com/divinerites/plausible-hugo.git
[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/K-State-Computational-Core/hugo-theme-relearn.git
