{{/* Custom Template for Reveal.js Slides */}}

<html>
	<head>
		<link rel="stylesheet" href="/reveal/css/reveal.css">
		<link rel="stylesheet" href="/reveal/css/theme/black.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				  {{ .Content }}
			</div>
		</div>
		<script src="/reveal/js/reveal.js"></script>
		<script>
			Reveal.initialize({
        controls: false,
        controlsTutorial: false,
        progress: false,
        transition: 'fade',
				width: 1440,
				height: 1080,
				history: true,
      });

			window.addEventListener("mousedown", handleClick, false);
			window.addEventListener("contextmenu", function(e) { e.preventDefault(); }, false);

			function handleClick(e) {
				e.preventDefault();
				if(e.button === 0) Reveal.next();
				if(e.button === 2) Reveal.prev();
			}
		</script>
	</body>
</html>
