name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Update theme
      run: git submodule update --init --recursive
      
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: |
            ghcr.io/${{ github.repository_owner }}/ksucs-hugo:latest
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy Stage
        id: request
        uses: fjogeleit/http-request-action@master
        with:
          url: 'https://watchtower.russfeld.me/v1/update'
          method: 'GET'
          bearerToken: ${{ secrets.DEPLOY_TOKEN }}
      - name: Show Response
        run: echo ${{ steps.request.outputs.response }}
